.list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
}
.list__item {
    display: flex;
    flex-direction: column;
    border: 3px solid var(--black);
    padding: 17px 17px 19px 17px;
}
.list__wrapper {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}
.list__icon {

}
.list__icon-wrapper {
    margin-right: 20px;
    width: 80px;
    height: 80px;
}
.list__title {

}
.list__description {

}
.list__icon {
    fill: var(--corn);
}