.link {
    display: flex;
    align-items: flex-start;
    text-decoration: none;
    outline: none;
}
.link__text {
    margin-right: 6px;
}
.link__arrow {

}
.link_yellow {
    color: var(--yellow);
}
.link_yellow > .link__arrow {
    fill: var(--yellow);
}
.link_yellow:active > .link__text,
.link_yellow:focus > .link__text {
    color: var(--corn);
}
.link_yellow:active > .link__arrow,
.link_yellow:focus > .link__arrow {
    fill: var(--corn);
}
.link_blue {
    color: var(--blue);
}
.link_blue > .link__arrow {
    fill: var(--blue);
}
.link_blue:active > .link__text,
.link_blue:focus > .link__text {
    color: var(--light-blue);
}
.link_blue:active > .link__arrow,
.link_blue:focus > .link__arrow {
    fill: var(--light-blue);
}
@media (hover: hover) {
    .link_yellow:hover > .link__text {
        color: var(--corn);
    }
    .link_yellow:hover > .link__arrow {
        fill: var(--corn);
    }
    .link_blue:hover > .link__text {
        color: var(--light-blue);
    }
    .link_blue:hover > .link__arrow {
        fill: var(--light-blue);
    }
}